.nav-content{
    margin-top: 0rem;
    display: flex;
    /* background-color: #ebe9ea ;
    width: 100%; */
}
body{

    background-color: #ebe9ea ;
}

.sub-content{
    margin-top: 5rem;
    margin-left: -50rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.msg-box{
    /* background-color: white; */
    padding: 0.4rem;
    width: 50rem;
    /* border: 1px solid rgb(218, 225, 228); */
}
/* .msg-box button{
    margin-top: -1rem;
    border: none;
    margin-left: 20rem;
    outline: none;
} */
.msg-box button:hover{
    border: none;
    outline: none;
}
.msg-box .msg-inner{
    display: flex;
}
table{
    background-color: white;
    text-align: center;
    border: 1px solid #f2f4f6;
    padding: 3px;
    font-size: 13px;
}
th:nth-child(1),
td:nth-child(1) {
  width: 200px; 
}

th:nth-child(2),
td:nth-child(2) {
  width: 190px; 
}
th:nth-child(3),
td:nth-child(3) {
  width: 90px; 
}
th:nth-child(4),
td:nth-child(4) {
  width: 200px; 
}
th:nth-child(5),
td:nth-child(5) {
  width: 100px; 
}
td{
  padding: 0.5rem;
}
